services:
  postgres:
    image: postgres:17
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: sachsen
      POSTGRES_PASSWORD: sachsen
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - 5432:5432
    networks:
      - backend

  redis:
    image: redis
    command: redis-server --requirepass sachsen
    volumes:
      - redis_data:/data
    ports:
      - 6379:6379
    networks:
      - backend

volumes:
  db_data:
  redis_data:

networks:
  backend: