@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";
@source "./";

@theme {
  --color-*: initial;
  --color-bgPrimary: #1D1F21;
  --color-fgPrimary: #EBDBB2;
  --color-bg: #282828;
  --color-fg: #C5C8C6;
  --color-fgDark: #9a6b3b;
  --color-accent: #005A9E;
  --color-error: #B03A30;
  --color-warn: #D57E15;
  --color-success: #8A8A0A;
  --color-purple: #a825c2;
  --color-black: #000;
  --color-white: #fff;

  --font-display: 'JetBrains Mono', monospace;

  --cursor-default: url('../assets/icons/cursor_default.svg') 8 8, auto;
  --cursor-pointer: url('../assets/icons/cursor_pointer.svg') 8 8, pointer;
  --cursor-move: url('../assets/icons/cursor_move.svg') 8 8, move;
  --cursor-not-allowed: url('../assets/icons/cursor_pointless.svg') 8 8, not-allowed;
  --cursor-text: url('../assets/icons/cursor_text.svg') 8 8, text;
  --cursor-fuck: url('../assets/icons/cursor_fuck.svg') 8 8, auto;
}

@layer base {
  html,
  body,
  #app {
    cursor: var(--cursor-default);
  }

  * {
    cursor: inherit;
  }
}

::-webkit-scrollbar {
  @apply w-2.5 h-2.5;
}

::-webkit-scrollbar-track {
  @apply bg-fgPrimary shadow-[inset_0_0_0_1px_black];
}

::-webkit-scrollbar-thumb {
  @apply bg-fgDark shadow-[inset_0_0_0_1px_black];
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-accent;
}